<table class="table table-striped">
    <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Log our</th>
    </tr>
	<%@totaltime=0%>
    <% @userslog.each do |ulog|%>
    <tr>
        <td><%= ulog.punch_in.strftime('%B')%></td>
        <td><%= ulog.punch_in.strftime('%d - %m - %y')%></td>
        <td><%=  ulog.timelog %></td>&nbsp;&nbsp;
    </tr>
    <% @totaltime += ulog.loghrs.to_f %>
    <% end if @userslog %>
    <tr>
      <td>
        <b>Total Time</b>
      </td>
      <td colspan="2"><b><%= @totaltime.round(2)%> - hrs</b></td>
    </tr>
</table>
